* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #ffffff;
  vertical-align: middle;
  padding: 43px;
  font-size: 16px;
}
ul {
  list-style-type: none;
  display: inline-block;
}
nav {
  vertical-align: middle;
  display: inline-block;
}
li {
  text-align: center;
}
header {
  background-color: #0020f4; /*ეს მინდა იყოს უფრო ფართე სიმაღლეში და რა უნდა გავუწერო?*/
  display: inline-block;
  max-width: 1920px;
  width: 100%;
  padding-left: 240px;
  max-height: 388px;
}
.main-text {
  text-decoration-line: underline;
}
.contact-text {
  padding: 18px;
  background-color: #ffffff;
  color: #171717;
  @font-face font-family: "HelveticaNeue";
  src: url("HelveticaNeueBold.woff2") format("woff2"),
    url("HelveticaNeueBold.woff") format("woff"),
    url("HelveticaNeueBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.title-text {
  padding-top: 240px;
  padding-bottom: 100px;
  padding-left: 240px;
}
.articles-wrapper {
  display: flex;
  gap: 25px;
  padding-left: 240px;
}
.article p {
  padding-top: 20px;
}
